In [2]:
import pandas as pd
import matplotlib.pyplot as plt
from matplotlib import style
import numpy as np
style.use('ggplot')
%matplotlib inline

In [3]:
df = pd.read_csv('ZILL-Z77006_LPC.csv')

In [5]:
df.head()

         Date      Value
0  2016-09-30  21.993127
1  2016-08-31  15.654952
2  2016-07-31  10.389610
3  2016-06-30  19.281046
4  2016-05-31  18.731118

In [6]:
df.set_index('Date', inplace=True)

In [7]:
df.to_csv('newcsv.csv')

In [10]:
df = pd.read_csv('newcsv.csv', index_col=0)

In [11]:
df.head()

                Value
Date
2016-09-30  21.993127
2016-08-31  15.654952
2016-07-31  10.389610
2016-06-30  19.281046
2016-05-31  18.731118

In [12]:
df.columns = ['Austin_HPI']

In [13]:
df.head()

            Austin_HPI
Date
2016-09-30   21.993127
2016-08-31   15.654952
2016-07-31   10.389610
2016-06-30   19.281046
2016-05-31   18.731118

In [14]:
df.to_csv('newcsv2.csv')

In [15]:
df.to_csv('newcsv2.csv', header=False)

In [16]:
df = pd.read_csv('newcsv2.csv', names=['Date', 'Austin_HDI'], index_col=0)

In [18]:
df.head()

            Austin_HDI
Date
2016-09-30   21.993127
2016-08-31   15.654952
2016-07-31   10.389610
2016-06-30   19.281046
2016-05-31   18.731118

In [19]:
df.to_html('example.html')

In [21]:
df.rename(columns={'Austin_HDI':'Texas_HDI'}, inplace=True)

In [22]:
df.head()

            Texas_HDI
Date
2016-09-30  21.993127
2016-08-31  15.654952
2016-07-31  10.389610
2016-06-30  19.281046
2016-05-31  18.731118

In [23]:
import Quandl

ImportError: No module named 'Quandl'