In [17]:
import pandas as pd
import matplotlib.pyplot as plt
from matplotlib import style
import numpy as np
style.use('ggplot')

In [2]:
web_stats = {'Day': [1,2,3,4,5,6],
            'Visitors': [43,53,34,65,653,34],
            'Bounce_Rate':[3,4,52,54,65,44]}

In [3]:
df = pd.DataFrame(web_stats)

In [4]:
print(df)

   Bounce_Rate  Day  Visitors
0            3    1        43
1            4    2        53
2           52    3        34
3           54    4        65
4           65    5       653
5           44    6        34

In [5]:
print(df.head())

   Bounce_Rate  Day  Visitors
0            3    1        43
1            4    2        53
2           52    3        34
3           54    4        65
4           65    5       653

In [6]:
print(df.tail())

   Bounce_Rate  Day  Visitors
1            4    2        53
2           52    3        34
3           54    4        65
4           65    5       653
5           44    6        34

In [7]:
print(df.tail(2))

   Bounce_Rate  Day  Visitors
4           65    5       653
5           44    6        34

In [8]:
df.set_index('Day')

     Bounce_Rate  Visitors
Day
1              3        43
2              4        53
3             52        34
4             54        65
5             65       653
6             44        34

In [9]:
print(df.head())

   Bounce_Rate  Day  Visitors
0            3    1        43
1            4    2        53
2           52    3        34
3           54    4        65
4           65    5       653

In [10]:
df.set_index('Day', inplace=True)

In [11]:
print(df.head())

     Bounce_Rate  Visitors
Day
1              3        43
2              4        53
3             52        34
4             54        65
5             65       653

In [12]:
print(df['Visitors'])

Day
1     43
2     53
3     34
4     65
5    653
6     34
Name: Visitors, dtype: int64

In [13]:
print(df.Visitors)

Day
1     43
2     53
3     34
4     65
5    653
6     34
Name: Visitors, dtype: int64

In [14]:
print(df[['Bounce_Rate', 'Visitors']])

     Bounce_Rate  Visitors
Day
1              3        43
2              4        53
3             52        34
4             54        65
5             65       653
6             44        34

In [15]:
print(df.Visitors.tolist())

[43, 53, 34, 65, 653, 34]

In [18]:
print(np.array(df[['Bounce_Rate', 'Visitors']]))

[[  3  43]
 [  4  53]
 [ 52  34]
 [ 54  65]
 [ 65 653]
 [ 44  34]]

In [19]:
df2 = pd.DataFrame(np.array(df[['Bounce_Rate', 'Visitors']]))

In [20]:
print(df2)

    0    1
0   3   43
1   4   53
2  52   34
3  54   65
4  65  653
5  44   34